/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.library-2d {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222; /* Fallback background color */
  font-family: "MedievalSharp", cursive;
}

.library-2d-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.library-2d-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px; /* Optional padding for better spacing */
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

.library-2d-options,
.library-2d-sub-options-container {
  background-color: rgba(0, 0, 0, 0.6); /* Transparent black background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); /* Optional shadow for better visibility */
  animation: fadeIn 1s ease-in-out;
  font-family: "MedievalSharp", cursive;
}

.library-2d-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.library-2d-option,
.library-2d-sub-option {
  margin: 20px 0;
  padding: 25px 60px;
  background-color: #333; /* Solid color background */
  color: white;
  border: 0.15vw solid #b8e2f5; /* Updated border color */
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 350px;
  font-size: 1.5em;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  font-family: "MedievalSharp", cursive;
}

.library-2d-option:hover,
.library-2d-sub-option:hover {
  background-color: #555; /* Slightly lighter on hover */
  transform: scale(1.05);
}

.library-2d-sub-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow-y: auto;
}

.library-2d-back-button {
  margin-bottom: 20px;
  padding: 20px 40px;
  background-color: #333; /* Solid color background */
  color: white;
  border: 0.15vw solid #b8e2f5; /* Updated border color */
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3em;
  transition: background-color 0.3s, transform 0.3s;
  animation: fadeIn 1s ease-in-out;
  font-family: "MedievalSharp", cursive;
}

.library-2d-back-button:hover {
  background-color: #555; /* Slightly lighter on hover */
  transform: scale(1.05);
}

.library-2d-sub-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.library-2d-sub-options a {
  display: block;
  text-decoration: none;
  position: relative;
}

@media (max-width: 768px) {
  .library-2d-option,
  .library-2d-sub-option {
    width: 80%;
    font-size: 1.2em;
    padding: 20px 30px;
  }

  .library-2d-back-button {
    padding: 15px 30px;
    font-size: 1em;
  }
}
