.footer {
  width: 100%;
  background-color: transparent; /* Make the background invisible */
  color: #b8e2f5;
  text-align: center;
  padding: 1rem 0;
  flex-shrink: 0; /* Prevent shrinking */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "MedievalSharp", cursive; /* Use MedievalSharp font */
}

.footer p {
  color: #b8e2f5;
  margin: 0;
}
