.footer {
  position: relative;
  width: 100%;
  background-color: black;
  color: #b8e2f5;
  text-align: center;
  padding: 0.5rem 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "MedievalSharp", cursive;
  font-size: 0.79vw;
  z-index: 3;
}

.footer p {
  color: #b8e2f5;
  margin: 0;
}

.footer .version {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 0.7vw;
  color: #b8e2f5;
  margin: 0;
}

@media (max-width: 600px) {
  .footer {
    font-size: 2.2vw;
  }

  .footer .version {
    font-size: 2vw;
  }
}
