.gpu-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7); /* Darker overlay */
  z-index: 2;
}

.gpu-modal {
  background: #fff; /* White background */
  padding: 40px; /* Increased padding */
  border-radius: 15px; /* Slightly more rounded corners */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 500px; /* Increased max-width */
  font-family: "MedievalSharp", cursive; /* Apply the font family */
}

.gpu-modal h2 {
  margin-bottom: 20px; /* Less margin for tighter spacing */
  font-size: 2em; /* Slightly larger font */
  color: #b8e2f5; /* Updated color for the heading */
}

.gpu-modal p {
  margin-bottom: 25px;
  font-size: 1.2em; /* Larger font size */
  color: #666; /* Gray color for better readability */
}

.gpu-modal-buttons {
  display: flex;
  justify-content: space-around;
}

.gpu-modal-buttons button {
  padding: 15px 30px; /* Increased padding */
  font-size: 1.2em; /* Larger font size */
  cursor: pointer;
  background-color: #333; /* Solid color background */
  color: white; /* White text color */
  border: 0.15vw solid #b8e2f5; /* Border color */
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  font-family: "MedievalSharp", cursive; /* Apply the font family */
}

.gpu-modal-buttons button:hover {
  background-color: #555; /* Slightly lighter on hover */
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .gpu-modal {
    padding: 30px; /* Adjust padding for smaller screens */
    max-width: 90%; /* Adjust width for smaller screens */
  }
  .gpu-modal h2 {
    font-size: 1.8em; /* Adjust font size for smaller screens */
  }
  .gpu-modal p {
    font-size: 1.1em; /* Adjust font size for smaller screens */
  }
  .gpu-modal-buttons button {
    padding: 12px 25px; /* Adjust padding for smaller screens */
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}
