.home-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.centeredContent {
  text-align: center;
  color: #b8e2f5; /* Light blue color */
  font-family: 'Tangerine', cursive; /* Example of a font that might look medieval */
  margin-top: -255px; /* Pulls the content up by 100 pixels */
}

.centeredContent  h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 50;
  color: #b8e2f5;
}

.centeredContent  p {
  text-align: center;
  font-size: 35px;
  font-weight: 50;
  color: #b8e2f5;
}

.centeredContent button {
  background-color: #b8e2f5; /* Dark bluish-grey color */
  color: black; /* White text color */
  border: none;
  padding: 15px 15px; /* Equal padding on all sides to help form a circle */
  border-radius: 50%; /* Fully rounded borders to create a circle */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Tangerine', cursive; /* Example of a font that might look medieval */
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for hover effects */
}

.centeredContent button:hover {
  background-color: #6A7AB0; /* Lighter shade on hover */
  box-shadow: 0px 6px 12px rgba(0,0,0,0.3); /* Increased shadow on hover */
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
  .centeredContent h1 {
    font-size: 24px; /* Smaller font size for the header */
  }

  .centeredContent p {
    font-size: 16px; /* Smaller font size for the paragraph */
  }

  .centeredContent button {
    padding: 8px 16px; /* Smaller button */
  }
}

@media (max-width: 480px) {
  .centeredContent h1 {
    font-size: 18px; /* Even smaller font size for the header */
  }

  .centeredContent p {
    font-size: 14px; /* Even smaller font size for the paragraph */
  }

  .centeredContent button {
    padding: 6px 12px; /* Even smaller button */
  }
}