.navbar {
  width: 100%;
  background-color: transparent; /* Make the background transparent */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Increase padding for more spacing */
  flex-shrink: 0; /* Prevent shrinking */
  font-family: "MedievalSharp", cursive;
  color: #b8e2f5; /* Set text color */
}

.navbar .leftSide {
  display: flex;
  align-items: center;
  margin-left: 69px; /* Push the logo towards the right */
}

.navbar .leftSide img {
  width: 100px; /* Increase the logo size */
  margin-right: 20px; /* Add margin to the right of the logo */
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  margin-right: 99px; /* Push the words towards the left */
}

.navbar a {
  color: #b8e2f5; /* Ensure links are visible */
  text-decoration: none;
  margin: 0 1.5rem; /* Increase margin for more spacing */
  font-size: 1.2rem; /* Increase font size of the words */
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #b8e2f5;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar .socialIcons {
  display: flex;
  align-items: center;
  margin-left: 1rem; /* Adjust margin for spacing */
}

.navbar .socialIcons svg {
  font-size: 30px;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #b8e2f5;
}

.navbar .hiddenLinks {
  display: none;
}

#open .hiddenLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#open .hiddenLinks a {
  width: 100px; /* Adjust width to match increased size */
  margin: 10px 0; /* Increase margin for spacing */
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 100px; /* Adjust width to match increased size */
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }

  #open .hiddenLinks {
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
