.navbar {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 0.11;
  flex-shrink: 0;
  font-family: "MedievalSharp", cursive;
  color: #6a818b;
  z-index: 3;
  position: relative;
}

.navbar .leftSide {
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.navbar .leftSide img {
  width: 2.9vw;
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.navbar a {
  color: #b8e2f5;
  text-decoration: none;
  margin: 0 1.5vw;
  font-size: 1.1vw;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #b8e2f5;
  cursor: pointer;
}

.navbar .socialIcons {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.navbar .socialIcons a {
  display: flex;
  align-items: center;
  color: #b8e2f5;
  margin: 0 0.5vw;
  font-size: 2vw;
}

.navbar .socialIcons a svg {
  font-size: inherit;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar .leftSide img {
    width: 4.5vw;
  }

  .navbar a {
    font-size: 1.2vw;
  }

  .navbar .socialIcons a {
    font-size: 2.1vw;
  }
}

@media (max-width: 768px) {
  .navbar .leftSide img {
    width: 5vw;
  }

  .navbar a {
    font-size: 2vw;
  }

  .navbar .socialIcons a {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .navbar .leftSide img {
    width: 11vw;
  }

  .navbar a {
    font-size: 3.1vw;
  }

  .navbar .socialIcons a {
    font-size: 4.1vw;
  }
}
