.navbar {
  width: 100%;
  background-color: transparent; /* Make the background transparent */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5vh; /* Increase padding for more spacing */
  flex-shrink: 0; /* Prevent shrinking */
  font-family: "MedievalSharp", cursive;
  color: #b8e2f5; /* Set text color */
  z-index: 2;
}

.navbar .leftSide {
  display: flex;
  align-items: center;
  margin-left: 4.5vw; /* Adjust margin for better spacing */
}

.navbar .leftSide img {
  width: 4vw; /* Adjust logo size */
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  margin-right: 4.5vw; /* Adjust margin for better spacing */
}

.navbar a {
  color: #b8e2f5; /* Ensure links are visible */
  text-decoration: none;
  margin: 0 2vw; /* Adjust margin for better spacing */
  font-size: 1.1vw; /* Adjust font size */
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #b8e2f5;
  cursor: pointer;
}

.navbar .socialIcons {
  display: flex;
  align-items: center;
  margin-left: 1vw; /* Adjust margin for spacing */
}

.navbar .socialIcons svg {
  font-size: 2vw; /* Adjust icon size */
  margin: 0 0.9vw;
  cursor: pointer;
  color: #b8e2f5;
}

@media (max-width: 1024px) {
  .navbar .rightSide {
    margin-right: 4vw; /* Adjust margin for better spacing */
  }

  .navbar a {
    margin: 0 1vw; /* Adjust margin for better spacing */
    font-size: 1.3vw; /* Adjust font size */
  }
}

@media (max-width: 768px) {
  .navbar .leftSide img {
    width: 8vw; /* Adjust logo size for smaller screens */
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 4vw; /* Adjust padding for better spacing */
  }

  .navbar .rightSide svg {
    font-size: 3.5vw; /* Adjust icon size */
  }

  .navbar .socialIcons svg {
    font-size: 2.5vw; /* Adjust icon size */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 2vh 2vw; /* Adjust padding for better spacing */
  }

  .navbar .leftSide img {
    width: 12vw; /* Smaller logo size for small screens */
  }

  .navbar .rightSide svg {
    font-size: 4vw; /* Smaller icon size for small screens */
  }

  .navbar .socialIcons svg {
    font-size: 2.5vw; /* Smaller icon size for small screens */
  }
}
