html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  overflow: hidden;
}

.navbar,
.footer {
  flex-shrink: 0; /* Prevent the navbar and footer from shrinking */
}
